@font-face {
  font-family: 'iconfont';  /* project id 1986717 */
  src: url('//at.alicdn.com/t/font_1986717_yehymeuinu.eot');
  src: url('//at.alicdn.com/t/font_1986717_yehymeuinu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1986717_yehymeuinu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1986717_yehymeuinu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1986717_yehymeuinu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1986717_yehymeuinu.svg#iconfont') format('svg');
}
.iconfont,[class^="Calligraphy_icon_"],[class*=" Calligraphy_icon_"]{
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Calligraphy_icon_search:before {
  content: "\e613";
}
.Calligraphy_icon_fanhui:before{
  content: '\e646';
}
.Calligraphy_icon_good:before{
  content: '\e630';
}
.Calligraphy_icon_leftwing:before{
  content: '\e667';
}
.Calligraphy_icon_rightwing:before{
  content: '\e666';
}
.Calligraphy_icon_release:before{
  content: '\e60f';
}
.Calligraphy_icon_push:before{
  content: '\e6a5';
}
.Calligraphy_icon_email:before{
  content: '\e6cb';
}
.Calligraphy_icon_trash:before{
  content: '\e67f';
}
.Calligraphy_icon_delete:before{
  content: '\e714';
}
.Calligraphy_icon_follow:before{
  content: '\e6df';
}
.Calligraphy_icon_good1:before{
  content: '\e622';
}
.Calligraphy_icon_uncollection:before{
  content: '\e621';
}
.Calligraphy_icon_collection:before{
  content: '\e612';
}